.fourcolumn-product a.ccm-block-page-list-rss-feed{
    position: absolute;
    top: 0px;
    right: 0px;
}

div.ccm-block-page-list-wrapper {
    position: relative;
}

.fourcolumn-product div.ccm-block-page-list-page-entry-horizontal {
    display: table;
    width: 100%;
}

.fourcolumn-product div.ccm-block-page-list-page-entry-horizontal,
.fourcolumn-product div.ccm-block-page-list-page-entry {
    margin-bottom: 10px;
}


.fourcolumn-product div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail {
    display: table-cell;
    vertical-align: top;
    width: 1px;
}

.fourcolumn-product div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail img {
    width: 120px;
    max-width: none;
}


.fourcolumn-product div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-text {
    display: block;
    padding-left: 20px;
    vertical-align: top;
}

.fourcolumn-product div.ccm-block-page-list-page-entry-text div.ccm-block-page-list-title {
    font-weight: normal;
    font-size: 20px;
    text-shadow:0px 0px 0px #ddd;
    padding-bottom: 15px;
}

.fourcolumn-product div.ccm-block-page-list-page-entry-read-more {
    margin-top: 20px;
}
.fourcolumn-product .youcommerce_price{
    font-size: 25px;
    font-weight: bold;
    text-shadow:1px 1px 1px #ccc;
    padding-top: 10px;
}
.fourcolumn-product .youommerce_btn {
  background: #00db4d;
  background-image: -webkit-linear-gradient(top, #00db4d, #218a1c);
  background-image: -moz-linear-gradient(top, #00db4d, #218a1c);
  background-image: -ms-linear-gradient(top, #00db4d, #218a1c);
  background-image: -o-linear-gradient(top, #00db4d, #218a1c);
  background-image: linear-gradient(to bottom, #00db4d, #218a1c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff !important;
  font-size: 17px;
  padding: 6px 30px 5px 30px;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
}

.fourcolumn-product .youommerce_btn:hover, .fourcolumn-product .youommerce_btn:focus{
  background: #07b312;
  background-image: -webkit-linear-gradient(top, #07b312, #03a309);
  background-image: -moz-linear-gradient(top, #07b312, #03a309);
  background-image: -ms-linear-gradient(top, #07b312, #03a309);
  background-image: -o-linear-gradient(top, #07b312, #03a309);
  background-image: linear-gradient(to bottom, #07b312, #03a309);
  text-decoration: none;
}
.fourcolumn-product .youcommerce_sku{
    padding-bottom: 10px;
    font-size: 12px;
}
.fourcolumn-product .cartdetails{
    text-align: center;
}
@media (max-width: 769px){
    .fourcolumn-product .cartdetails{
    text-align: right;
    padding-right: 20px;
}
}
.fourcolumn-product .shoplist{
    padding: 15px;
}
.fourcolumn-product .youcommerce_imageholder img{
  width: 100%;
}
/* ====== shop image ====== */

